body{
    background-color: #ecf2f6;
}

div#wrapper{
    max-width: 1200px ;
    margin:auto;
}

/*-------------------------------------------------------------------- nav----------------------------------------------------------*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html{
    font-family: straatliches, cursive;
}

div.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: auto;
    min-height: 70px;
    line-height: 70px;
    background-color: #181819;
}

div.menu{
    margin: 0 30px 0 0;
    background-color: #181819;
}

div.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

span{
    color: red;
    border-bottom: 0;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
    #toggle:checked + .menu{
        display: block;
    }
}

/*----------------------------------------------------------------------------- dropdown menu  --------------------------------------------------------*/
.dropbtn{
    background-color: #7689ff;
    color: white;
    padding:16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
}

.dropbtn:hover .dropbtn:focus{
    background-color: blue;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    position: sticky;
    z-index: 1;
    top: 0;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 10px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    height: 200px;
    overflow: scroll;
    width: 250px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {
    display:block;
}

/*-------------------------------------------------------- div 1 ---------------------------------------------------------------*/

div#aanbod{
    border-radius: 25px;
    background-color: #b9cbff;
    height: 350px;
    display: inline-block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    box-shadow: 0 0 20px 2px #00000059;
    border: 2.5px solid #181819;
}

/*--------------------------------------------------------- div 2 ----------------------------------------------------------------------*/

div#aanbiedingen{
    background-color: #b9cbff;
    height: 350px;
    display: inline-block;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px 2px #00000059;
    border: 2.5px solid #181819;
}

div#aanbiedingen h3{
    text-align: center;
}

div#aanbiedingen p{
    margin-left: 5px;
    margin-right: 30px;
}

/*-------------------------------------------------------------------------- div 3 ----------------------------------------------------------*/

div#occasions {
    border: 2.5px solid #181819;
    border-radius: 25px;
    background-color: #b9cbff;
    display: inline-block;
    height:375px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    -moz-box-shadow: 3px 3px 3px #000000;
    -webkit-box-shadow: 3px 3px 3px #000000;
    box-shadow: 0 0 20px 2px #00000059;
}

/*------------------------------------------------------------------------------- footer ------------------------------------------------------------------------------*/

footer {
    width: 100%;
    background-color: #181819;
    height: 600px;
    margin-top: 20px;
}

div#footerimage img {
    width: 250px;
    height: 250px;
    display: none;
}

div#adres {
    display: inline-block;
    margin-left: 50%;
}

footer ul {
    list-style: none;
    font-family: namun gothic, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    padding-top: 60px;
    width: 100px;
    float: left;
    padding-left: 0;
    color: white
}

div#footertekst {
    width: 300px;
    margin-left: 40%;
    color: white;

}

div#footerinhoud {
    display: inline-block;

}

/*---------------------------------------------------------------------------------- Tablet query -----------------------------------*/
@media all and (min-width: 570px){
    div#footerinhoud {
        display: flex;
        justify-content: space-evenly;
    }

    div#adres {
        margin-left: 0;
    }

    div#footertekst {
        margin-left: 0;
    }
}

/*---------------------------------------------------------- groter ------------------------------*/

@media all and (min-width: 786px) {
    div#footerimage img {
        display: flex;
    }

    div#aanbod{
        width: 48%;
        float: left;
        height: 375px;
    }

    div#aanbiedingen{
        width: 48%;
        float: right;
        height: 375px;
    }

}

/*--------------------------------------------------------- dekstop ---------------------------------*/

@media all and (min-width:1150px){

    div#aanbod{
        width: 32%;
    }

    div#aanbiedingen{
        width: 32%;
    }

    div#occasions{
        width: 32%;
    }

    div#alles{
        display: flex;
        justify-content: space-evenly;
    }

}