
body {
    margin: 0;
    background-color: #142a4c;
}

div#wrapper {
    color: white;
    max-width: 1200px;
    margin: auto;
}

/*---------------------------------------- nav -----------------------------------------*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html{
    font-family: straatliches, cursive;
}

div.nav {
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: auto;
    min-height: 70px;
    line-height: 70px;
}

div.menu{
    margin: 0 30px 0 0;
}

div.menu a {
    clear: right;
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

span{
    color: #54D17A;
    border-bottom: 0;
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
    }
    #toggle:checked + .menu{
        display: block;
    }
}

/*----------------------------------------- articles -----------------------------------*/

/*artikel 1 */
article#artikel1 {
    width: 98%;
    background-color: #404247;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 400px;
}

img#autoschade {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-top: 30px;
}

/*artikel 2 */
article#artikel2 {
    width: 98%;
    background-color: #404247;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 400px;
}

img#auto {
    width: 98%;
    height: 200px;
    padding-top: 35px;
    margin-left: 1%;
    margin-right: 1%;
}

article#artikel3 {
    width: 98%;
    background-color: #404247;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 400px;
}

img#team {
    height: 200px;
    padding-top: 35px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

/*artikel 4*/
article#artikel4 {
    width: 98%;
    background-color: #404247;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 400px;
}

article#artikel4 a img:hover{
border-color: red ;
}



img#occasions {
    height: 200px;
    padding-top: 35px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

/* fonts en extras die bij alle artikelen gelijk zijn*/
p {
    font-family: open sans condensed, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}

h1 {
    display: block;
    text-align: center;
    font-family: nanum gothic, sans-serif;
    padding-top: 7px;
    margin-bottom: 0px;
}

/*----------------------------------------------- footer -----------------------------*/

footer {
    width: 100%;
    background-color: #181819;
    height: 400px;
    margin-top: 20px;
}

div#footerimage img {
    width: 250px;
    height: 250px;
    display: none;
}

div#adres {
    display: inline-block;
    margin-left: 54%;
}

footer ul {
    list-style: none;
    font-family: namun gothic, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    padding-top: 60px;
    width: 100px;
    float: left;
    padding-left: 0;
    color: white
}

div#footertekst {
    width: 300px;
    margin-left: 40%;
    color: white;

}

div#footerinhoud {
    display: inline-block;

}

/*------------------------------------------------------------------------------ tablet --------------------------------------------------------------------------------------------*/
@media all and (min-width: 570px) {



    div#footerinhoud {
        display: flex;
        justify-content: space-evenly;
    }

    div#adres {
        margin-left: 0;
    }

    div#footertekst {
        margin-left: 0;
    }
}

@media all and (min-width: 786px) {
    div#footerimage img {
        display: flex;
    }


    article#artikel1 {
        display: inline-block;
        width: 49%;
    }

    article#artikel2 {
        display: inline-block;
        width: 49%;
        margin-top: 20px;
    }

    article#artikel3 {
        display: inline-block;
        width: 49%;
    }

    article#artikel4 {
        display: inline-block;
        width: 49%;
    }

    div#artikel1en2 {
        display: flex;
        justify-content: space-evenly;
    }

    div#artikel3en4 {
        display: flex;
        justify-content: space-evenly;
    }

    div#alleartikelen {
        width: 100%;
    }
}






